<div>
  <mat-form-field appearance="fill">
    <mat-label>First Name</mat-label>
    <input matInput type="text" [(ngModel)]="firstName" (input)="isDisabled = false">
  </mat-form-field>
</div>

<div>
  <mat-form-field appearance="fill">
    <mat-label>Last Name</mat-label>
    <input matInput type="text" [(ngModel)]="lastName" (input)="isDisabled = false">
  </mat-form-field>
</div>
<div>
  Profile image
</div>
<div>
  <ng-container *ngIf="cameraSupported()">
    <input type="file" style="display:none" accept="image/*" capture="user" (change)="onFileSelected($event)" #camera/>
    <button mat-raised-button color="primary" (click)="camera.click()" class="browse-button">
      <mat-icon>photo_camera</mat-icon>
    </button>
    or
  </ng-container>
  <input type="file" style="display:none" accept="image/*" (change)="onFileSelected($event)" #fileUpload/>
  <button mat-raised-button color="primary" (click)="fileUpload.click()" class="browse-button">Upload</button>
</div>

<div>
  <img src={{imageURL}} alt=""/>
</div>

<div>
  <button mat-raised-button color="primary" [disabled]="isDisabled" (click)="onWrite($event)">Update</button>
</div>
